/*
!/.gitignore
!/PycharmProjects/
/PycharmProjects/*
!/PycharmProjects/PythonProject17/
!/PycharmProjects/PythonProject21/
!/PycharmProjects/PythonProject28/
/PycharmProjects/PythonProject28/*
!/PycharmProjects/PythonProject28/main.py
!/PycharmProjects/PythonProject28/requirements.txt
!/PycharmProjects/PythonProject28/DEPLOY.md