/*
!/.gitignore
!/PycharmProjects/
/PycharmProjects/*
!/PycharmProjects/PythonProject17/
!/PycharmProjects/PythonProject21/
!/PycharmProjects/PythonProject28/
/PycharmProjects/PythonProject28/*
!/PycharmProjects/PythonProject28/main.py
!/PycharmProjects/PythonProject28/requirements.txt
!/PycharmProjects/PythonProject28/DEPLOY.md
!/PycharmProjects/PythonProject30/
/PycharmProjects/PythonProject30/*
!/PycharmProjects/PythonProject30/*.py
!/PycharmProjects/PythonProject30/vercel.json
!/PycharmProjects/PythonProject30/requirements.txt
!/PycharmProjects/PythonProject31/
/PycharmProjects/PythonProject31/*
!/PycharmProjects/PythonProject31/*.py
!/PycharmProjects/PythonProject31/*.ps1
!/PycharmProjects/PythonProject31/.env.example
!/PycharmProjects/PythonProject31/requirements.txt
!/PycharmProjects/PythonProject31/vercel.json
!/PycharmProjects/PythonProject31/handlers/
/PycharmProjects/PythonProject31/handlers/*
!/PycharmProjects/PythonProject31/handlers/*.py
!/PycharmProjects/PythonProject31/middlewares/
/PycharmProjects/PythonProject31/middlewares/*
!/PycharmProjects/PythonProject31/middlewares/*.py
!/PycharmProjects/PythonProject31/utils/
/PycharmProjects/PythonProject31/utils/*
!/PycharmProjects/PythonProject31/utils/*.py